<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
搜索框
<form action="Home/Middleware/某个中间件吧">
	<input type="text" value="此处进行搜索" />
	<input type="submit" value="搜索" />
</form>

图书分类标签,好吧 我先用单选来代替= -= 
<form action="Home/Middleware/某个中间件吧">
	<input type="radio" name="booktype" value="literary" />"literary"
	<input type="radio" name="booktype" value="art" />art
	<input type="radio" name="booktype" value="science" />science
	<input type="radio" name="booktype" value="life" />life
	<input type="radio" name="booktype" value="education" />education
	<input type="radio" name="booktype" value="test" />test
	<input type="radio" name="booktype" value="culture" />culture
	<input type="radio" name="booktype" value="economic" />economic
	<input type="radio" name="booktype" value="other" />other
	<input type="submit" value="提交" />
</form>
</body>
</html>